#symbols-container {
    margin-bottom: 2rem;

    h3 {
        margin-bottom: 1.2rem;
        text-align: center;
    }
}

#symbols {
    width: 140px;
    display: flex;
    justify-content: space-between;

    .symbol {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
        transition: background-color 250ms, box-shadow 250ms;

        &--selected {
            border: none;
            background: var(--primary-color);
            box-shadow: 0 0 10px var(--primary-color);

            .o {
                border: 7px solid #fff;
            }

            .x::before,
            .x::after {
                background: #fff;
            }
        }
    }
}

#modes .btn {
    width: 200px;
    text-align: center;
}
