.btn {
    border-radius: 30px;
    background: var(--primary-color);
    color: #fff;
    margin: 1rem auto;
    padding: 0.6rem 1.2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.8pt;

    &:hover {
        background: #fff;
        color: var(--primary-color);
        box-shadow: 0 0 5px var(--primary-color);
    }
}
