@use "components/button";
@use "components/symbols";
@use "components/toast";
@use "pages/difficulty";
@use "pages/game";
@use "pages/home";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: Sniglet;
    src: url("../fonts/Sniglet/Sniglet-Regular.ttf"); // relative css directory
}

:root {
    font-size: 18px;
    font-family: "Sniglet", "Comic Sans MS", "Comic Sans", sans-serif;

    --bg-main: #000;
    --text-main: #fff;
    --primary-color: #da3232;

    --game-draw-bg: rgba(0, 0, 0, 0.6);
    --color-o: #007dff;
    --color-x: #ffd000;

    color: var(--text-main);

    #sun-svg {
        display: none;
    }

    &.light-theme {
        --bg-main: #fff;
        --text-main: #000;
        --game-draw-bg: rgba(255, 255, 255, 0.6);

        #sun-svg {
            display: block;
        }

        #moon-svg {
            display: none;
        }
    }
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    width: 100vw;
    min-height: 100vh;
    padding-top: 80px;
    background: var(--bg-main);
    transition: background-color 400ms;
    position: relative;

    &[data-active-page="home"] #home-btn svg {
        display: none;
    }
}

button {
    display: block;
    border: none;
    font-family: inherit;
    color: inherit;
    transition: background-color 400ms;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.6rem 0.8rem;
    background: var(--primary-color);
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    h1 {
        margin: 0 auto;
        font-size: 2rem;
        letter-spacing: 1.5pt;
    }

    #home-btn,
    #theme-btn {
        width: 24px;
        height: 24px;
        background: transparent;
    }
}

.page {
    width: 0;
    height: 0;
    transform: scale(0);

    &--active {
        width: auto;
        height: auto;
        transform: scale(1);
        transition: transform 250ms;
    }
}
